In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv(r"C:\Users\anjal\Downloads\TNBC_data.csv")

In [3]:
data

,Gene ID,221NC,235NC,241NC,257NC,291NC,293NC,254NC,302NC,221TC,235TC,241TC,254TC,257TC,293TC,291TC,302TC,QCPool1,QCPool2,QCPool3
0,NCLN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DNAJC9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CRK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2696100.0,3043200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GPD1L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8647000.0,NaN,NaN,NaN,NaN,84432000.0,NaN,10741000.0
4,MTA1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,CACYBP,14809000.0,NaN,NaN,1992500.0,NaN,2794200.0,NaN,NaN,NaN,12168000.0,15569000.0,116690000.0,14214000.0,NaN,6970400.0,14675000.0,10743000.0,9872000.0,6774500.0
2622,RRBP1,282620.0,NaN,NaN,81933.0,NaN,549500.0,256490.0,NaN,759750.0,40872000.0,16161000.0,38284000.0,40373000.0,7365200.0,5942800.0,50443000.0,25160000.0,20392000.0,13413000.0
2623,PA2G4,3906500.0,NaN,NaN,NaN,NaN,1133400.0,NaN,NaN,NaN,4843300.0,11930000.0,54184000.0,2362600.0,NaN,NaN,10198000.0,20240000.0,NaN,749070.0
2624,TLN1,11239000.0,1373900.0,11466000.0,4082100.0,465420.0,11231000.0,3120700.0,1050400.0,2372000.0,21619000.0,27187000.0,28419000.0,26019000.0,10401000.0,17168000.0,27104000.0,181330000.0,52296000.0,11927000.0
2625,EMILIN1,NaN,NaN,828640.0,221660.0,NaN,NaN,1887300.0,4173800.0,3720600.0,14283000.0,7319700.0,16997000.0,47643000.0,44325000.0,8806700.0,10986000.0,67006000.0,31010000.0,9103100.0

In [4]:
data.shape

(2626, 20)

In [5]:
df=pd.DataFrame(data)
#  select columns that are not 'Gene ID'
value_columns = df.columns.difference(['Gene ID', 'QCPool1', 'QCPool2', 'QCPool3'])

# Initialize an empty dictionary to store counts for different cutoffs
count_dict = {}

# Iterate over different cutoff values and store counts
for cutoff in range(1, len(value_columns) + 1):
    non_nan_count_TC = df[[col for col in value_columns if "TC" in col]].count(axis=1)
    non_nan_count_NC = df[[col for col in value_columns if "NC" in col]].count(axis=1)
    rows_to_keep = (non_nan_count_TC >= cutoff) | (non_nan_count_NC >= cutoff)
    count_dict[cutoff] = sum(rows_to_keep)

# Create a DataFrame from the count dictionary
count_table = pd.DataFrame(count_dict.items(), columns=['TC and NC Cutoff', 'Protein Count'])

# Display the count table
print(count_table)

    TC and NC Cutoff  Protein Count
0                  1           2227
1                  2           2004
2                  3           1753
3                  4           1505
4                  5           1263
5                  6           1012
6                  7            772
7                  8            528
8                  9              0
9                 10              0
10                11              0
11                12              0
12                13              0
13                14              0
14                15              0
15                16              0

In [6]:
# Initialize an empty dictionary to store counts for different cutoffs
count_dict = {}

# Iterate over different cutoff values and store counts
for cutoff in range(1, len(value_columns) + 1):
    non_nan_count_TC = df[[col for col in value_columns if "TC" in col]].count(axis=1)
    non_nan_count_NC = df[[col for col in value_columns if "NC" in col]].count(axis=1)
    rows_to_keep = (non_nan_count_TC >= cutoff) 
    count_dict[cutoff] = sum(rows_to_keep)

# Create a DataFrame from the count dictionary
count_table = pd.DataFrame(count_dict.items(), columns=['TC Cutoff', 'Protein Count'])

# Display the count table
print(count_table)

    TC Cutoff  Protein Count
0           1           2180
1           2           1940
2           3           1691
3           4           1459
4           5           1212
5           6            965
6           7            734
7           8            501
8           9              0
9          10              0
10         11              0
11         12              0
12         13              0
13         14              0
14         15              0
15         16              0

In [7]:
# Initialize an empty dictionary to store counts for different cutoffs
count_dict = {}

# Iterate over different cutoff values and store counts
for cutoff in range(1, len(value_columns) + 1):
    non_nan_count_TC = df[[col for col in value_columns if "TC" in col]].count(axis=1)
    non_nan_count_NC = df[[col for col in value_columns if "NC" in col]].count(axis=1)
    rows_to_keep = (non_nan_count_NC >= cutoff)
    count_dict[cutoff] = sum(rows_to_keep)

# Create a DataFrame from the count dictionary
count_table = pd.DataFrame(count_dict.items(), columns=['NC Cutoff', 'Protein Count'])

# Display the count table
print(count_table)

    NC Cutoff  Protein Count
0           1           1559
1           2           1147
2           3            859
3           4            677
4           5            528
5           6            404
6           7            307
7           8            195
8           9              0
9          10              0
10         11              0
11         12              0
12         13              0
13         14              0
14         15              0
15         16              0

In [8]:
# Count the number of non-NaN values for each row in TC and NC columns
non_nan_count_TC = df[[col for col in value_columns if "TC" in col]].count(axis=1)
non_nan_count_NC = df[[col for col in value_columns if "NC" in col]].count(axis=1)

# Identify rows with at least 6 non-NaN entries in TC or NC columns
rows_to_keep = (non_nan_count_TC >= 6) | (non_nan_count_NC >= 4)

# Filter rows
retain_df = df[rows_to_keep]

In [9]:
retain_df = retain_df.set_index('Gene ID').T
retain_df = retain_df.drop(['QCPool1', 'QCPool2', 'QCPool3'])
retain_df

Gene ID,SH3PXD2A,WFDC3,GPNMB,SAE1,YP015,CFD,GCDH,PPP1R12A,UTS2,USP29,...,SERBP1,KHSRP,PLIN4,PARK7,COL12A1,ACO2,CACYBP,RRBP1,TLN1,EMILIN1
221NC,26234000.0,NaN,10854000.0,3725500.0,15431000.0,6594700.0,12694000.0,2587100.0,31090000.0,141350000.0,...,12371000.0,10178000.0,152560000.0,53250000.0,NaN,474750.0,14809000.0,282620.0,11239000.0,NaN
235NC,7101600.0,127000000.0,NaN,1532000.0,16334000.0,NaN,19338000.0,1095900.0,17627000.0,11587000.0,...,583440.0,NaN,83515000.0,10825000.0,NaN,NaN,NaN,NaN,1373900.0,NaN
241NC,30604000.0,16615000.0,NaN,1293500.0,10241000.0,7111400.0,8157200.0,988680.0,9646800.0,51832000.0,...,NaN,NaN,42868000.0,16012000.0,NaN,NaN,NaN,NaN,11466000.0,828640.0
257NC,4102100.0,1565200.0,NaN,NaN,12986000.0,3681700.0,12834000.0,924380.0,8424100.0,14458000.0,...,2909500.0,1163800.0,94882000.0,16770000.0,NaN,5269000.0,1992500.0,81933.0,4082100.0,221660.0
291NC,NaN,10190000.0,3492100.0,NaN,4763900.0,NaN,NaN,NaN,2931300.0,35289000.0,...,468820.0,NaN,742190.0,11032000.0,423920.0,NaN,NaN,NaN,465420.0,NaN
293NC,3102800.0,NaN,8980900.0,NaN,NaN,NaN,15985000.0,1266400.0,30161000.0,5597600.0,...,3816300.0,6648000.0,30074000.0,24812000.0,299370.0,4166800.0,2794200.0,549500.0,11231000.0,NaN
254NC,NaN,20403000.0,NaN,NaN,15211000.0,5562500.0,NaN,1223100.0,16635000.0,178520000.0,...,6284900.0,1036900.0,30095000.0,30851000.0,314740.0,422870.0,NaN,256490.0,3120700.0,1887300.0
302NC,NaN,46379000.0,4883200.0,NaN,8181600.0,4843000.0,7118500.0,838750.0,NaN,45673000.0,...,453110.0,NaN,16882000.0,15184000.0,16217000.0,NaN,NaN,NaN,1050400.0,4173800.0
221TC,NaN,NaN,6025900.0,2214600.0,9608100.0,NaN,NaN,2124000.0,33082000.0,70533000.0,...,8895400.0,11023000.0,4189600.0,13139000.0,4113700.0,NaN,NaN,759750.0,2372000.0,3720600.0
235TC,NaN,NaN,56819000.0,2318200.0,13024000.0,NaN,NaN,1421800.0,NaN,106960000.0,...,32703000.0,13953000.0,1227900.0,117170000.0,35485000.0,32323000.0,12168000.0,40872000.0,21619000.0,14283000.0
241TC,NaN,NaN,23928000.0,3559700.0,27617000.0,NaN,NaN,1825600.0,63729000.0,64641000.0,...,19246000.0,7578500.0,23887.0,22479000.0,165560000.0,11117000.0,15569000.0,16161000.0,27187000.0,7319700.0
254TC,NaN,NaN,11266000.0,3935600.0,48783000.0,NaN,37229000.0,4494200.0,128920000.0,188490000.0,...,23227000.0,72830000.0,1014300.0,86185000.0,102660000.0,19112000.0,116690000.0,38284000.0,28419000.0,16997000.0
257TC,NaN,NaN,19007000.0,7818500.0,27479000.0,NaN,NaN,2564500.0,118890000.0,54523000.0,...,31052000.0,16074000.0,NaN,148720000.0,364720000.0,9828400.0,14214000.0,40373000.0,26019000.0,47643000.0
293TC,4458800.0,NaN,NaN,2481400.0,14279000.0,3650500.0,NaN,NaN,50044000.0,295120000.0,...,3188300.0,7278200.0,NaN,13760000.0,373050000.0,334040.0,NaN,7365200.0,10401000.0,44325000.0
291TC,NaN,4254200.0,16086000.0,NaN,20028000.0,NaN,NaN,1476200.0,21192000.0,76157000.0,...,2467900.0,906160.0,NaN,20333000.0,53380000.0,NaN,6970400.0,5942800.0,17168000.0,8806700.0
302TC,NaN,2551500.0,43781000.0,NaN,33943000.0,NaN,8126500.0,1501100.0,139070000.0,108820000.0,...,20974000.0,12025000.0,2047200.0,33298000.0,92121000.0,24435000.0,14675000.0,50443000.0,27104000.0,10986000.0

# Data Cleaning

In [10]:
df = pd.DataFrame(data)
df.set_index('Gene ID', inplace=True)

In [11]:
# tc_columns = [col for col in df.columns if 'TC' in col]
# nc_columns = [col for col in df.columns if 'NC' in col]

# tc_data = df[tc_columns]
# nc_data = df[nc_columns]

In [12]:
# Count the number of non-NaN values for each row in TC and NC columns
non_nan_count_TC = df[[col for col in value_columns if "TC" in col]].count(axis=1)

# Identify rows with at least 6 non-NaN entries in TC columns
rows_to_keep = (non_nan_count_TC >= 4)

# Filter rows
tc_retain_df = df[rows_to_keep]
tc_columns = [col for col in tc_retain_df.columns if 'TC' in col]
tc_data = tc_retain_df[tc_columns]
tc_data

,221TC,235TC,241TC,254TC,257TC,293TC,291TC,302TC
Gene ID,,,,,,,,
IST1,NaN,NaN,10156000.0,NaN,25649000.0,4743500.0,NaN,8631600.0
FANCD2,NaN,56037000.0,10410000.0,NaN,58546000.0,NaN,NaN,6210500.0
GAR1,NaN,NaN,19690000.0,7739100.0,16443000.0,NaN,NaN,14217000.0
GPNMB,6025900.0,56819000.0,23928000.0,11266000.0,19007000.0,NaN,16086000.0,43781000.0
SAE1,2214600.0,2318200.0,3559700.0,3935600.0,7818500.0,2481400.0,NaN,NaN
...,...,...,...,...,...,...,...,...
CACYBP,NaN,12168000.0,15569000.0,116690000.0,14214000.0,NaN,6970400.0,14675000.0
RRBP1,759750.0,40872000.0,16161000.0,38284000.0,40373000.0,7365200.0,5942800.0,50443000.0
PA2G4,NaN,4843300.0,11930000.0,54184000.0,2362600.0,NaN,NaN,10198000.0
TLN1,2372000.0,21619000.0,27187000.0,28419000.0,26019000.0,10401000.0,17168000.0,27104000.0
EMILIN1,3720600.0,14283000.0,7319700.0,16997000.0,47643000.0,44325000.0,8806700.0,10986000.0

In [13]:
# Count the number of non-NaN values for each row in TC and NC columns
non_nan_count_NC = df[[col for col in value_columns if "NC" in col]].count(axis=1)

# Identify rows with at least 5 non-NaN entries in NC columns
rows_to_keep = (non_nan_count_NC >= 4)

# Filter rows
nc_retain_df = df[rows_to_keep]
nc_columns = [col for col in df.columns if 'NC' in col]
nc_data = nc_retain_df[nc_columns]
nc_data

,221NC,235NC,241NC,257NC,291NC,293NC,254NC,302NC
Gene ID,,,,,,,,
SH3PXD2A,26234000.0,7101600.0,30604000.0,4102100.0,NaN,3102800.0,NaN,NaN
WFDC3,NaN,127000000.0,16615000.0,1565200.0,10190000.0,NaN,20403000.0,46379000.0
GPNMB,10854000.0,NaN,NaN,NaN,3492100.0,8980900.0,NaN,4883200.0
YP015,15431000.0,16334000.0,10241000.0,12986000.0,4763900.0,NaN,15211000.0,8181600.0
CFD,6594700.0,NaN,7111400.0,3681700.0,NaN,NaN,5562500.0,4843000.0
...,...,...,...,...,...,...,...,...
COL12A1,NaN,NaN,NaN,NaN,423920.0,299370.0,314740.0,16217000.0
ACO2,474750.0,NaN,NaN,5269000.0,NaN,4166800.0,422870.0,NaN
RRBP1,282620.0,NaN,NaN,81933.0,NaN,549500.0,256490.0,NaN
TLN1,11239000.0,1373900.0,11466000.0,4082100.0,465420.0,11231000.0,3120700.0,1050400.0
EMILIN1,NaN,NaN,828640.0,221660.0,NaN,NaN,1887300.0,4173800.0

In [14]:
# Initialize KNNImputer with the desired number of neighbors
knn_imputer = KNNImputer(n_neighbors=5)

# Convert the DataFrame to a NumPy array for imputation
data_tc_impute = tc_data.values

# Perform imputation
imputed_tc_data = knn_imputer.fit_transform(data_tc_impute)

# Convert the imputed values back to a DataFrame
imputed_tc_df = pd.DataFrame(imputed_tc_data, columns=tc_data.columns, index=tc_data.index)

# Display the final imputed DataFrame
imputed_tc_df

,221TC,235TC,241TC,254TC,257TC,293TC,291TC,302TC
Gene ID,,,,,,,,
IST1,13312920.0,15030600.0,10156000.0,39832800.0,25649000.0,4743500.0,7196120.0,8631600.0
FANCD2,6087460.0,56037000.0,10410000.0,14135920.0,58546000.0,11617240.0,5145748.0,6210500.0
GAR1,8212760.0,7563480.0,19690000.0,7739100.0,16443000.0,6449420.0,5809004.0,14217000.0
GPNMB,6025900.0,56819000.0,23928000.0,11266000.0,19007000.0,5936440.0,16086000.0,43781000.0
SAE1,2214600.0,2318200.0,3559700.0,3935600.0,7818500.0,2481400.0,1711588.0,2851360.0
...,...,...,...,...,...,...,...,...
CACYBP,6014864.0,12168000.0,15569000.0,116690000.0,14214000.0,9339520.0,6970400.0,14675000.0
RRBP1,759750.0,40872000.0,16161000.0,38284000.0,40373000.0,7365200.0,5942800.0,50443000.0
PA2G4,10913220.0,4843300.0,11930000.0,54184000.0,2362600.0,9625160.0,7029980.0,10198000.0
TLN1,2372000.0,21619000.0,27187000.0,28419000.0,26019000.0,10401000.0,17168000.0,27104000.0
EMILIN1,3720600.0,14283000.0,7319700.0,16997000.0,47643000.0,44325000.0,8806700.0,10986000.0

In [15]:
# Initialize KNNImputer with the desired number of neighbors
knn_imputer = KNNImputer(n_neighbors=5)

# Convert the DataFrame to a NumPy array for imputation
data_nc_impute = nc_data.values

# Perform imputation
imputed_nc_data = knn_imputer.fit_transform(data_nc_impute)

# Convert the imputed values back to a DataFrame
imputed_nc_df = pd.DataFrame(imputed_nc_data, columns=nc_data.columns, index=nc_data.index)

# Display the final imputed DataFrame
imputed_nc_df

,221NC,235NC,241NC,257NC,291NC,293NC,254NC,302NC
Gene ID,,,,,,,,
SH3PXD2A,26234000.0,7101600.0,30604000.0,4102100.0,8150560.0,3102800.0,5247646.0,3544940.0
WFDC3,20032540.0,127000000.0,16615000.0,1565200.0,10190000.0,4432880.0,20403000.0,46379000.0
GPNMB,10854000.0,12068820.0,6998428.0,10757892.0,3492100.0,8980900.0,4008300.0,4883200.0
YP015,15431000.0,16334000.0,10241000.0,12986000.0,4763900.0,13966280.0,15211000.0,8181600.0
CFD,6594700.0,5805920.0,7111400.0,3681700.0,3562302.0,5294820.0,5562500.0,4843000.0
...,...,...,...,...,...,...,...,...
COL12A1,1758548.0,1907070.0,2133316.0,452267.8,423920.0,299370.0,314740.0,16217000.0
ACO2,474750.0,15443168.0,22681520.0,5269000.0,4880866.0,4166800.0,422870.0,12857544.0
RRBP1,282620.0,1367688.0,1161316.0,81933.0,3331518.0,549500.0,256490.0,3587787.0
TLN1,11239000.0,1373900.0,11466000.0,4082100.0,465420.0,11231000.0,3120700.0,1050400.0
EMILIN1,3039320.0,1991892.0,828640.0,221660.0,2959550.0,7820226.0,1887300.0,4173800.0

In [16]:
common_data = imputed_nc_df.merge(imputed_tc_df, left_index=True, right_index=True)
common_data = common_data.T
common_data

Gene ID,GPNMB,YP015,PPP1R12A,UTS2,USP29,IGLV3-19,IGHV3-49,TMEM198,CHD9,MYDGF,...,TUBA1A,SERBP1,KHSRP,PLIN4,PARK7,COL12A1,ACO2,RRBP1,TLN1,EMILIN1
221NC,10854000.0,15431000.0,2587100.0,31090000.0,141350000.0,5217900.0,10031700.0,3684600.0,337700000.0,3841200.0,...,79390000.0,12371000.0,10178000.0,152560000.0,53250000.0,1758548.0,474750.0,282620.0,11239000.0,3039320.0
235NC,12068820.0,16334000.0,1095900.0,17627000.0,11587000.0,8900460.0,7320660.0,99329000.0,53950000.0,4617300.0,...,33000000.0,583440.0,201371080.0,83515000.0,10825000.0,1907070.0,15443168.0,1367688.0,1373900.0,1991892.0
241NC,6998428.0,10241000.0,988680.0,9646800.0,51832000.0,23535000.0,13947000.0,108000000.0,398900000.0,4204142.0,...,33499000.0,1599340.0,38933068.0,42868000.0,16012000.0,2133316.0,22681520.0,1161316.0,11466000.0,828640.0
257NC,10757892.0,12986000.0,924380.0,8424100.0,14458000.0,6358300.0,4294540.0,2161544.0,143530000.0,3489900.0,...,34195000.0,2909500.0,1163800.0,94882000.0,16770000.0,452267.8,5269000.0,81933.0,4082100.0,221660.0
291NC,3492100.0,4763900.0,3472694.0,2931300.0,35289000.0,17571000.0,4898200.0,1760700.0,220840000.0,5709960.0,...,7058200.0,468820.0,17872710.0,742190.0,11032000.0,423920.0,4880866.0,3331518.0,465420.0,2959550.0
293NC,8980900.0,13966280.0,1266400.0,30161000.0,5597600.0,2562200.0,9097660.0,1777100.0,33940000.0,2526000.0,...,278550000.0,3816300.0,6648000.0,30074000.0,24812000.0,299370.0,4166800.0,549500.0,11231000.0,7820226.0
254NC,4008300.0,15211000.0,1223100.0,16635000.0,178520000.0,16453000.0,4763100.0,653980000.0,689260000.0,5977200.0,...,33236000.0,6284900.0,1036900.0,30095000.0,30851000.0,314740.0,422870.0,256490.0,3120700.0,1887300.0
302NC,4883200.0,8181600.0,838750.0,11771280.0,45673000.0,7536800.0,4354500.0,2019100.0,398530000.0,3741400.0,...,52515000.0,453110.0,5321922.0,16882000.0,15184000.0,16217000.0,12857544.0,3587787.0,1050400.0,4173800.0
221TC,6025900.0,9608100.0,2124000.0,33082000.0,70533000.0,4152900.0,7555320.0,1529000.0,843660000.0,20528120.0,...,47491000.0,8895400.0,11023000.0,4189600.0,13139000.0,4113700.0,3633660.0,759750.0,2372000.0,3720600.0
235TC,56819000.0,13024000.0,1421800.0,58307000.0,106960000.0,13834000.0,2213400.0,10008616.0,226970000.0,6884380.0,...,289310000.0,32703000.0,13953000.0,1227900.0,117170000.0,35485000.0,32323000.0,40872000.0,21619000.0,14283000.0
241TC,23928000.0,27617000.0,1825600.0,63729000.0,64641000.0,5750700.0,9083900.0,980430.0,100860000.0,4505500.0,...,686430000.0,19246000.0,7578500.0,23887.0,22479000.0,165560000.0,11117000.0,16161000.0,27187000.0,7319700.0
254TC,11266000.0,48783000.0,4494200.0,128920000.0,188490000.0,17349000.0,14531720.0,24953940.0,219170000.0,18591000.0,...,947780000.0,23227000.0,72830000.0,1014300.0,86185000.0,102660000.0,19112000.0,38284000.0,28419000.0,16997000.0
257TC,19007000.0,27479000.0,2564500.0,118890000.0,54523000.0,20041000.0,6730760.0,398000000.0,123010000.0,10714000.0,...,616020000.0,31052000.0,16074000.0,17278288.0,148720000.0,364720000.0,9828400.0,40373000.0,26019000.0,47643000.0
293TC,5936440.0,14279000.0,937820.0,50044000.0,295120000.0,17390000.0,5424600.0,2276900.0,205540000.0,3037400.0,...,159450000.0,3188300.0,7278200.0,25117240.0,13760000.0,373050000.0,334040.0,7365200.0,10401000.0,44325000.0
291TC,16086000.0,20028000.0,1476200.0,21192000.0,76157000.0,12473000.0,3844400.0,1908000.0,284240000.0,2838940.0,...,138680000.0,2467900.0,906160.0,2570696.0,20333000.0,53380000.0,4599660.0,5942800.0,17168000.0,8806700.0
302TC,43781000.0,33943000.0,1501100.0,139070000.0,108820000.0,21451140.0,4953800.0,9266380.0,332100000.0,2815700.0,...,457230000.0,20974000.0,12025000.0,2047200.0,33298000.0,92121000.0,24435000.0,50443000.0,27104000.0,10986000.0